/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* universal selector */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* body styling starts here*/
body{
    background: #FFF;
}
/* body styling ends here*/


/* styling for large devices starts here */

/* header part styling starts here*/

.header{
    width: 90%;
    max-width: 1170px;
    margin: auto;
}

/* navbar section styling starts here */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.25em;
}

.navbar-title{
    display: flex;
    align-items: center;
    gap: 1em;
}

.world-explorer{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.explorer{
    color: #FF5400;
}

.navbar> ul{
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     gap: 2.75em;
}

.navbar> ul li a{
    color: #424247;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.navbar .home-link{
    color: #FF5400;
}

.bars{
    display: none;
}

/* navbar section styling ends here */

/* banner section styling starts here */
.banner{
    margin-top: 3.12em;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('../Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    gap: 2em;
}

.banner-title{
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
}

.banner-details{
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
    text-align: center;
}

.find-input-fields{
    background: rgba(255, 255, 255, 0.30);
    padding: 1em;
    display: flex;
    gap: 1em;
}

.input{
    width: 174px;
    height: 52px;
    border: 0;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1rem;
}

.find-now-button{
    background: #FF5400;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 1rem;
    cursor: pointer;
}
.find-now-button:hover{
    background: #a86645;
}

/* banner section styling ends here */

/* header part styling ends here*/

/* main part styling starts here */
.main{
    width: 90%;
    max-width: 1170px;
    margin: auto;
    margin-top: 6.25em;
    
}

/* winter offer section styling starts here*/

.winter-offer{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.winter-offer-texts{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.winter-offer-title{
    width: 100%;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    color: #131318;
}

.winter-offer-details{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    width: 100%;
    max-width: 500px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}


.winter-offer-image{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg , rgba(27, 43, 97, 0.811) ,rgba(128, 128, 128, 0.584)),url('../Images/winter.jpg');
    background-repeat: no-repeat;
    background-size: cover,cover;
    background-position: center,center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.winter-offer-img{
    width: 50%;
}

.winter-offer-image-texts{
    color:#FFF;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    width: 70%;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.24);
}

.winter-offer-button{
    border: 0;
    color: #FFF;
    border-radius: 0.8em;
    background: #FF5400;
    width: 174px;
    height: 52px;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
.winter-offer-button:hover{
        background: #a86645;

}
/* winter offer section styling ends here*/

/* popular posts section starts here */
.popular-tours{
    margin-top: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    gap: 3.31em;
}

.popular-tours-texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 2em;
}

.popular-tours-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.popular-tours-details1{
    color: #5A5A5D;
    font-weight: 400;
    font-size: 1rem;
}

.popular-tours-details2{
    padding-left: 1.25em;
    color: #5A5A5D;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.popular-tours-details3{
    color: #5A5A5D;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

.popular-tours-image{
    width: 100%;
    height: 100%;
}

.popular-tours-image img{
    width: 100%;
    height: 100%;
}

.read-more-button{
    border: 0;
    color: #FFF;
    border-radius: 0.8em;
    background: #FF5400;
    padding: 1em 1em;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
.read-more-button:hover{

        background: #a86645;

}
/* popular posts section ends here */


/* destinations section styling starts here */
.destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 6.25em;
}

.destinations-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.destinations-title{
    text-align: center;
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
    width: 100%;
}
.destinations-details{
    text-align: center;
    width: 100%;
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    font-size: 1rem;

}

.destinations-places{
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-areas:
    "maldives maldives maldives maldives maldives indonesia indonesia indonesia indonesia indonesia"
    "srilanka srilanka srilanka north-america north-america north-america north-america north-america kashmir kashmir"
    "bangladesh bangladesh bangladesh bangladesh bandarban bandarban bandarban bandarban bandarban bandarban";
    gap: 1em;
}

.place{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: #FFF;
    outline: 2px solid transparent;
    border: 2px solid transparent;
    cursor: pointer;
}
.place:hover{
    border: 2px solid rgb(154, 34, 34);
}

.maldives{
    background: url('../Images/Rectangle 5.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: maldives;
    display: flex;
}
.indonesia{
    background: url('../Images/Rectangle 8.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: indonesia;
}
.srilanka{
    background: url('../Images/Rectangle 6.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: srilanka;
}
.north-america{
    background: url('../Images/Rectangle 7.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: north-america;
}
.kashmir{
    background: url('../Images/Rectangle 9.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: kashmir;
}
.bangladesh{
    background: url('../Images/Rectangle 11.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: bangladesh;
}
.bandarban{
    background: url('../Images/Rectangle 10.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    grid-area: bandarban;
}
/* destinations section styling starts here */

/* choose-us section styling starts here */
.choose-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.25em;
    gap: 3em;
}

.choose-us-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.choose-us-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.choose-us-details{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 90%;
    max-width: 643px;
    
}

.choose-us-services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.5em;
}

.service{
   background-color: rgba(251, 181, 99, 0.05);
   padding: 2em;
   border-radius: 1em;
   border: 1px solid rgba(41, 206, 246, 0.20);
}

.service:nth-child(1){
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
}
.service:nth-child(2){
    background: rgba(41, 206, 246, 0.05);
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
}
.service:nth-child(3){
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;
}

.service-image{
    width: 64px;
    height: 64px;
}

.service-texts{
    margin-top: 2em;
}

.service-texts h1{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.service-texts p{
    width: 100%;
    max-width: 486px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1em;
}

/* choose-us section styling ends here */

/* deals-discounts section styling starts here*/

.deals-discounts{
    margin-top: 6.25em;
}

.deals-discounts-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

} 

.deals-discounts-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    width: 100%;
}

.deals-discounts-details{
    width: 100%;
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.deals-discounts-container{
    margin-top: 3em;
}

.deal-container{
    background: url('../Images/Group 39.png') no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 3.5em;
}

.deal-container:nth-child(2){
    background: url('../Images/Group 40.png') no-repeat;
    justify-content: flex-start;
}

.deal-container-texts{
    width: 90%;
    max-width: 579px;
    height: 100%;
    max-height: 389px;
    border-radius: 1em;
    border: 0.1em solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 3.125em;
    box-sizing: border-box;
}

.deals-data{
    display: flex;
    justify-content: space-between;
    
}
.deals-data h2{
    font-size: 1rem;
    color: #5A5A5D;
}

.deals-data h2 i{
    color: #FF5400;
    margin-right: 0.4em;
}
.deals-title{
    color: #131318;    
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1.625em;
}

.deals-details{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1em;
}

.deals-price{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 1em;
}

.book-now{
    border: 0;
    border-radius: 0.5em;
    background: #FF5400;
    width: 150px;
    height: 52px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 1.5em;
    cursor: pointer;
}
.book-now:hover{
    background-color: #a86645;
}

.deals-packages{
    padding: 1em 1.25em;
    box-sizing: border-box;
    border: 0;
    display: block;
    margin: auto;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    margin-top: 3.875em;
    cursor: pointer;
}
.deals-packages:hover{
   background-color: #a86645;
}
/* deals-discount section styling ends here*/

/* simple-place section styling starts here */
.simple-place{
     width: 100%;
     margin-top: 6.25em;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 424px;
     gap: 1.75em;
}

.simple-place-title{
    color: #131318;
    font-size: px;
    font-weight: 800;
    font-size: 2.5rem;
    width: 100%;
    max-height: 448px;
}

.simple-place-details{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    max-width: 532px;
}

.simple-place-list{
    padding-left: 1em;
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.simple-place-texts{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.see-more{
    width: 174px;
    height: 52px;  
    border-radius: 0.5em;
    background: #FF5400;
    border: 0;
    color: #FFF;
    font-size: 1.25em;
    font-weight: 800;
    cursor: pointer;
}
.see-more:hover{
   background-color: #a86645;
}

.simple-place-video-container{
    height: 100%;
    width: 100%;
}

.simple-place-video{
     width: 100%;
     height: 100%;
     border-radius: 1em;
}

.simple-place-video-title{
    font-size: 1.5rem;
    width: 276px;
    text-align: center;
    font-weight: 700;
    color: #FFF;
}

/* simple-place section styling ends here */


/* newsletter section styling starts here */
.newsletter{
    margin-top: 6.25em;
    display: grid;
    grid-template-columns: 45% 55%;
    height: 500px;
    gap: 1.5em;
}

.newsletter-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 1em;    
    border: 1px solid #FF5400;
    padding: 2.5em;
    gap: 1.25em;
}

.newsletter-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-details{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    max-width: 350px;
}

.newsletter-form input[type='text']{
    box-sizing: border-box;
    padding: 1.25em;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    border-radius: 0.8em;
    font-size: 1rem;
    font-weight: 400;
}

.newsletter-form input[type='email']{
    box-sizing: border-box;
    padding: 1.25em;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    border-radius: 0.8em;
    font-size: 16px;
    font-weight: 400;
}

.newsletter-form input[type='submit']{
    border-radius: 0.5em;
    border: 0;
    background: #FF5400;
    width: 100%;
    padding: 0.875em;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
.newsletter-form input[type='submit']:hover{
    background-color: #a86645;
}

.newsletter-image-container{
    height: 100%;
    max-height: 500px;
    width: 100%;
    background: url('../Images/Rectangle 8 (1).png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.newsletter-discount-container{
    border-radius: 1em;
    background: #FF5400;
    width: 324px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
    margin-bottom: 3em;
    margin-right: 0.5em;
}

.newsletter-link{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.newsletter-discount{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* newsletter section styling ends here */

/* main part styling ends here */

/* footer part styling starts here */
.footer{
    height: 502px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 19, 24, 0.05);
    gap: 3em;
    margin-top: 6.25em;
}

.footer-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.world-explorer2{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.footer-details{
    font-size: 1rem;
    color: #5A5A5D;
    font-weight: 400;
    width: 70%;
    max-width: 769px;
    text-align: center;
}

.footer-social-medias{
    display: flex;
    gap: 2em;
}
.footer-social-medias i{
    font-size: 1.5rem;
    cursor: pointer;
}

/* footer part styling ends here */

/* styling for large devices ends here */

/* styling for small devices starts here */

@media screen and (max-width:600px) {
        .world-explorer{
            font-size: 1.5rem;
        }
        .navbar>ul{
            display: none;
        }
        .bars{
            display:block;
            font-size: 1.5rem;
        }
        .banner{
            gap: 1em;
        }
        .banner-title{
            font-size: 1.5rem;
        }
        .find-input-fields{
            flex-direction: column;
            align-items: center;
            width: 80%;
        }
        .input{
            width: 100%;
        }

        .winter-offer{
            flex-direction: column;
            gap: 1em;
        }
        .winter-offer-image{
            box-sizing: border-box;
            padding: 3em;
        }
        .winter-offer-title{
            margin-top: 1em;
            font-size: 1.5rem;
            text-align: start;
        }
        .popular-tours{
            flex-direction: column;
            margin-top: 15em;
            gap: 2em;
            height: 100%;
        }
        .popular-tours-title{
            font-size: 1.5rem;
            text-align: start;
        }
        .popular-tours-image{
                
        }
        .destinations-texts{
            
        }
        .destinations{
         margin-top: 2em;
        }
        .destinations-title{
            font-size: 1.5rem;
        }
        .destinations-places{
            grid-template-areas: "maldives"
            "indonesia"
            "srilanka"
            "north-america"
            "kashmir"
            "bangladesh"
            "bandarban"
            ;
        }
        .place{
            height: 176px;
            border-radius: 0.5em;
        }
        .choose-us{
            margin-top: 30em;
        }
        .choose-us-title{
            font-size: 1.5rem;
        }
        .choose-us-services{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
        }
        .service:nth-child(1){
            grid-row: 1/1;
            grid-column: 1/2;
        }
        .service:nth-child(2){
            grid-row: 2/2;
            grid-column: 1/2; 
        }
        .service:nth-child(3){
            grid-row: 3/3;
            grid-column: 1/2;
        }
        .deals-discounts{
            margin-top: 2em;
        }
        .deals-discounts-title{
            font-size: 1.5rem;
            text-align: center;
        }
        .deals-discounts-container{
            justify-content: center;
        }
        .deal-container{
            padding: 0;
            justify-content: center;
        }
        .deal-container:nth-child(2){
            padding: 0;
            justify-content: center;
        }
        .deals-data{
            flex-wrap: wrap;
            gap: 0.5em;
        }
        .deals-discounts-title{
            margin: 0;
        }
        .deal-container-texts{
            width: 90%;
            padding: 2em;
        }
        .simple-place{
            flex-direction: column;
        }
        .simple-place-title{
            font-size: 1.5rem;
        }
        .simple-place-details{
            margin-top: 1em;
        }
        .simple-place-list{
            margin-top: 1em;
        }
        .simple-place-video-title{
            position: static;
            justify-self: center;
            align-self: center;
          
        }
        .see-more{
            margin-top: 1em;
        }
        .newsletter{
            grid-template-columns: 100%;
            margin-top: 25em;
        }
        .newsletter-form{
            width: 100%;
            height: 500px;
            
        }
        .newsletter-image-container{
            margin-top: 2em;
            height: 500px;
        }

        .footer{
            margin-top: 40em;
        }
}